.main{
    width: 980px;
    height: 455px;
    margin: 10px 0 0 220px;
}
.focus{
    float: left;
    width: 720px;
    height: 455px;
}
.focus img{
    width: 100%;
    height: 100%;
}
.newsflash{
    float: right;
    width: 250px;
    height: 455px;
}
.news{
    height: 165px;
    border: #ccc solid 1px;
}
.news-hd{
    height: 33px;
    line-height: 33px;
    padding: 0 15px;
    border-bottom: #ccc dotted 1px;
}
.news-hd h5{
    float: left;
    font-size: 14px;
}
.news-hd a{
    float: right;
}
.iconarrowright_news:before{
    content: "\e601";
    font-size: 10px;
    margin-left: 5px;
 }
 .news-bd{
     padding: 5px 15px 0;
 }
.news-bd ul li{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lifeservice{
    height: 210px;
    overflow: hidden;
    border: #ccc solid 1px;
    border-top: none;
}
.lifeservice ul{
    width: 252px;
}
.lifeservice ul li{
    float: left;
    width: 63px;
    height: 71px;
    border-right:#ccc solid 1px;
    border-bottom:#ccc solid 1px;
    /* background-color: darkkhaki; */
}
.lifeservice ul li i{
    display: block;
    width: 24px;
    height: 28px;
    margin: 15px 19px 5px;
    background: url(../images/icons.png) no-repeat;
}
.lifeservice ul li p{
    text-align: center;
}
.lifeservice ul li:nth-child(1) i{
    background-position: -17px -16px;
}
.lifeservice ul li:nth-child(2) i{
    background-position: -78px -16px;
}
.lifeservice ul li:nth-child(3) i{
    background-position: -141px -16px;
}
.lifeservice ul li:nth-child(4) i{
    background-position: -206px -16px;
}
.lifeservice ul li:nth-child(5) i{
    background-position: -17px -88px;
}
.lifeservice ul li:nth-child(6) i{
    background-position: -78px -88px;
}
.lifeservice ul li:nth-child(7) i{
    background-position: -141px -88px;
}
.lifeservice ul li:nth-child(8) i{
    background-position: -206px -88px;
}
.lifeservice ul li:nth-child(9) i{
    background-position: -17px -159px;
}
.lifeservice ul li:nth-child(10) i{
    background-position: -78px -159px;
}
.lifeservice ul li:nth-child(11) i{
    background-position: -141px -159px;
}
.lifeservice ul li:nth-child(12) i{
    background-position: -206px -159px;
}
.bargain{
    margin-top: 5px;
}
.recom{
    height: 163px;
    margin-top: 12px;
}
.recom_hd{
    float: left;
    width: 207px;
    height: 163px;
    background-color: #5c5251;
}
.recom_hd img{
    margin: 30px 0 10px 75px;
   
}
.recom_hd p{
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.recom_bd{
    float: left;
    width: 992px;
    height: 163px;
    background-color: #EBEBEB;
    overflow: hidden;
}
.recom_bd ul li{
    position: relative;
    float: left;
}
.recom_bd ul li::after{
    content: "";
    position: absolute;
    top: 10px;
    width: 1px;
    height: 143px;
    background-color: #000000;
}
.recom_bd ul li img{
    width: 248px;
}