.nav{
    overflow: hidden;
}
.sk{
    position: absolute;
    top: 39px;
    left: 185px;
    padding: 2px 0 2px 11px;
    border-left: #B11919 2px solid;
}
.sk_list{
    float: left;
}
.sk_list ul li{
    float: left;
    margin: 0 28px;
    font-weight: 700;
    line-height: 47px;
    color: #000000;
    font-size: 16px;
}
.sk_con{
    float: left;
}
.sk_con ul li{
    float: left;
    margin: 0 22px;
    line-height: 49px;
    font-size: 14px;
}
.sk_bd{
    text-align: center;
}
.sk_bd .describe{
    text-align: left;
    margin: 0 12px;
    font-size: 14px;
}
.sk_bd ul li{
    float: left;
    height: 413px;
    width: 291px;
    border: 1px solid transparent;
    margin-right: 12px;
}
.sk_bd ul li:hover{
    border: 1px solid #B11919;
}
.sk_bd ul li:nth-child(4n){
    margin-right: 0;
}
.sk_bd h4{
    color: #B2B2B2;
}
.sk_bd .price{
    font-size: 18px;
    color: #E70F20;
    font-weight: 700;
    margin: 10px 0;
}
.sk_bd .price span{
    font-size: 12px;
    color: #A4A4A4;
    text-decoration: line-through;
}
.sk_bd .sold{
    height: 20px;
}
.sk_bd .sold div{
    float: left;
}
.sk_bd .sold .bar{
    width: 120px;
    height: 20px;
    border: #EC272E 1px solid;
    margin: 0 20px 0 10px;
}
.sk_bd .sold .bar .bar_in{
    width: 87%;
    height: 100%;
    background-color: #EC272E;
}
.sk_bd .operate{
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #B11919;
    margin-top: 10px;
}
.sk_bd .operate a{
    color: #fff;
    font-size: 18px;
}